body {
	background-image: url("../images/background.jpg");
}

#page-wrapper {
	width: 960px;
	margin: 0 auto;
	box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 1); 
	border-radius: 12px 12px 0px 0px; 
}

#header {
	background: rgb(246,230,180); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(246,230,180,1) 0%, rgba(237,144,23,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,230,180,1)), color-stop(100%,rgba(237,144,23,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
	position: relative;
	margin-top: 40px;
	border-radius: 12px 12px 0px 0px; 
}

#header h1 {
	position: absolute;
	left: 380px;
	top:60px;
	font-family: 'Lobster', cursive;
	font-size: 60px;
}

#header h2 {
	position: absolute;
	left: 380px;
	top:170px;
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
}

#header p {
	position: absolute;
	left: 380px;
	top:250px;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
}

#header a#logo1 img {
margin-top: 20px;
margin-left: 20px;
margin-bottom: 20px;
width: 280px;
height: 300px;
}

#header #toplink {
	position: absolute;
	top:-20px;
	right: 10px;
	font-size: 18px;
	font: bolder;
	color: black;
}

#footer {
	height: 180px;
	clear: both;
	padding: 10px 50px;
	background: rgb(252,234,187); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}

ul.second-container li{
	list-style-type:none;
	font-size: 14px;
}

#footer-links li{
	list-style-type:none;
}

#footer-links li a img{
	border-radius: 10px;
}

ul.footer-content li{
	font-size: 14px;
	list-style-type:none;
}

#footer-wrapper {
	float: left;
	width: 30%;
	margin: 0 0 0 2.5%;
}

#footer-links {
	float: left;
	width: 30%;
	margin: 0 2.5%;
}

#footer-address {
	float: left;
	width: 30%;
	margin: 0 2.5% 0 0;
}


hr{
	border: 0px;
	border-top:3px solid #AD8148;
	width: 95%;
	text-align: center;
}

#content-wrapper {
	background: white;
	float: left;
}

#main-content {
	min-height: 300px;
	width: 915px;
	margin-right: 30px;
	float: left;
	margin-left: 15px;
}

#main-nav {
	float: left;
	width: 100%;
	background: rgb(246,230,180); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(246,230,180,1) 0%, rgba(237,144,23,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,230,180,1)), color-stop(100%,rgba(237,144,23,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}

#main-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	left:50%;
}

#main-nav ul li {
	float: left;
	position: relative;
	right: 50%;
	margin:0 15px;
}

#main-nav ul li a {
	padding: 10px 25px;
	display: block;
	text-decoration: none;
	color: #ccc;
	border-radius: 2px;
	text-align: center;
	width: 100px;
	font-weight: bold;
	background: rgb(149,149,149); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
}

#main-nav ul li a:hover {
	background-color: #ccc;
	color: #333;
}

.clear {
	clear: both;
}

.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: left;
}

.lists {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: left;
	padding-left: 60px;
}

.question {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: left;
	padding-left: 60px;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.capital1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
}

p:first-letter {
    text-transform: uppercase;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: maroon;
}

#video-container {
  position: left;
  padding-left: 0.5px;
  padding-bottom: 0.5px;
  padding-top: 0.5px;
  overflow: hidden;
}

.imageL {
	float: left;
	padding: 8px;
	background-color: white;
	margin: 10px 0 10px 0 20px;
}

#home_table
{
	opacity:0.7;
	text-align: center;
}

#home_table table
{
	border-collapse: collapse;
	color: #000000;
	margin: auto;
	background: rgb(243,226,199); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,226,199,1)), color-stop(50%,rgba(193,158,103,1)), color-stop(51%,rgba(182,141,76,1)), color-stop(100%,rgba(233,212,179,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
}

.data
{
	height: 30px;
}

#table_title
{
	height: 40px;
	font-family: 'Oswald', sans-serif;
	font:bolder;
	font-size: 38px;
}

#thumbnail
{
	width: 160px;
	height: 40px;
	font-family: 'Oswald', sans-serif;
	font:bolder;
	font-size: 22px;
}

#thumbnail:hover
{
	background-color: #337E81;
	color: #FF0000;
	font-weight: 900;
}

#dakota
{
	width: 160px;
	height: 40px;
	font-family: 'Oswald', sans-serif;
	font:bolder;
	font-size: 22px;
}

#dakota:hover
{
	background-color: #F8F119;
	color: #000000;
	font-weight: 900;
}

#cinnamon-chip
{
	width: 160px;
	height: 40px;
	font-family: 'Oswald', sans-serif;
	font:bolder;
	font-size: 22px;
}

#cinnamon-chip:hover
{
	background-color: #182EF4;
	color: #FAE62A;
	font-weight: 900;
}

#high-five-fiber
{
	width: 160px;
	height: 40px;
	font-family: 'Oswald', sans-serif;
	font:bolder;
	font-size: 22px;
}

#high-five-fiber:hover
{
	background-color: #B01717;
	color: #FFFFFF;
	font-weight: 900;
}

#hummus-bread
{
	width: 160px;
	height: 40px;
	font-family: 'Oswald', sans-serif;
	font:bolder;
	font-size: 22px;
}

#hummus-bread:hover
{
	background-color: #EEAC33;
	color: #690808;
	font-weight: 900;
}

#superfood-bread
{
	width: 160px;
	height: 40px;
	font-family: 'Oswald', sans-serif;
	font:bolder;
	font-size: 22px;
}

#superfood-bread:hover
{
	background-color: #884B0A;
	color: #54FC21;
	font-weight: 900;
}

#anadama
{
	width: 160px;
	height: 40px;
	font-family: 'Oswald', sans-serif;
	font:bolder;
	font-size: 22px;
}

#anadama:hover
{
	background-color: #071B13;
	color: #FFFFFF;
	font-weight: 900;
}

#contact_info {
	padding-left: 10px;
}

#time {
	padding-left: 55px;
}

#contact_table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding: 10px 10px 10px 10px
}

#message_form, #map-div {
	background: rgb(246,230,180); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(246,230,180,1) 0%, rgba(237,144,23,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,230,180,1)), color-stop(100%,rgba(237,144,23,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}

#comments{
	height: 140px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-appearance:none;
    border:1px solid transparent;
}

#first_name{
	height: 30px;
	width: 275px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border:1px solid transparent;
}

#last_name{
	width: 275px;
	height: 30px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border:1px solid transparent;
}

#email{
	width: 245px;
	height: 30px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	border:1px solid transparent;
}

#phone_number{
	width: 240px;
	height: 30px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border:1px solid transparent;
}

#send{
	text-align: center;
	width: 100px;
	height: 50px;
	background-color: #AD8148;
	border:1px solid transparent;
	border-radius: 10px;
	font:bolder;
	font-size: 22px;
}

#map-div {
	width: 460px;
	height: 620px;
}
